.googledrive-widget textarea{
	float:left;
	width: 320px;
	height: 120px;
	-webkit-border-radius: 4px;
	padding: 5px;
	box-shadow: 0px 1px 5px -1px gray inset;
	border: none;
	outline-color: #f05929;
}

.googledrive-widget .message{
	float: left;
	width: 100%;
	color: #f05929 !important;
	font-size:12px;
	font-family: SourceSansPro;
	clear:left;
}

.googledrive-widget .overlay{
	position:absolute;
}

.googledrive-widget .loading{
	position:absolute;
	text-align: center;
}
