.link-widget.widget-body {
	width: auto;
}

.link-widget input {
	padding: 5px;
	margin: 0px 4px 0 0;
}

.link-widget-type-icon {
	display: inline-block;
	width: 74px;
	height: 101px;
	background-image: url("../../images/file_widget_types1.png");
}

.link-widget-details {
	display: inline-block;
	vertical-align: top;
}

.link-widget-error {
	display: block;
}

.dropbox-button {
	width: 27px;
	height: 24px;
	display: inline-block;
	background-image: url('../../images/dbox_button.png');
	cursor: pointer;
}

.gdrive-button {
	width: 27px;
	height: 24px;
	display: inline-block;
	background-image: url('../../images/gdrive_button.png');
	cursor: pointer;
}

.link-widget-image {
	width: 400px;
	height: auto;
}

/*	----- LINK EMBED ----- */
.link-widget .link {
	float: left;
	margin-bottom: 3px;
}

.link-widget .link img {
	height: 80px;
	width: 120px;
	float: left;
	margin-right:10px;
}

.link-widget .link .website {
	float: left;
	width: 268px;
}

.link-widget .link .website a.title {
	width: 100%;
	display: block;
	font-size: 15px;
	font-weight: bold;
}

.link-widget .link .website .description {
	line-height: 19px;
}

/*  ----- FILE TYPES -----  */

.link-widget-type-icon.type-dbx {
	background-position: -990px -237px;
}

.link-widget-type-icon.type-gdrv {
	background-position: -999px -118px;
}

.link-widget-type-icon.type-css {
	background-position: -274px -1px;
}

.link-widget-type-icon.type-dmg {
	background-position: -2px -1px;
}

.link-widget-type-icon.type-rtf {
	background-position: -544px -1px;
}

.link-widget-type-icon.type-exe {
	background-position: -729px -1px;
}

.link-widget-type-icon.type-doc {
	background-position: -184px -236px;
}

.link-widget-type-icon.type-html {
	background-position: -364px -1px;
}

.link-widget-type-icon.type-pdf {
	background-position: -94px -236px;
}

.link-widget-type-icon.type-ppt {
	background-position: -273px -236px;
}

.link-widget-type-icon.type-psd {
	background-position: -900px -236px;
}

.link-widget-type-icon.type-rar {
	background-position: -94px -1px;
}

.link-widget-type-icon.type-txt {
	background-position: -454px -1px;
}

.link-widget-type-icon.type-xls {
	background-position: -4px -236px;
}

.link-widget-type-icon.type-zip {
	background-position: -184px -1px;
}

.link-widget-type-icon.type-mov {
	background-position: 0px -353px;
}

.link-widget-type-icon.type-mpeg {
	background-position: -90px -353px;
}

.link-widget-type-icon.type-mp4 {
	background-position: -360px -353px;
}

.link-widget-type-icon.type-avi {
	background-position: -540px -353px;
}

.link-widget-type-icon.type-mp3 {
	background-position: -630px -353px;
}

.link-widget-type-icon.type-wav {
	background-position: -720px -353px;
}