.link-widget.widget-body {
	width: auto;
}

.link-widget input {
	padding: 5px;
	margin: 0px 4px 0 0;
}

.link-widget-type-icon {
	display: inline-block;
	width: 74px;
	height: 101px;
	background-image: url("../../images/sprite-icons.png");
}

.link-widget-error {
	display: block;
}

.dropbox-button {
	width: 27px;
	height: 24px;
	display: inline-block;
	background-image: url('../../images/dbox_button.png');
	cursor: pointer;
}

.gdrive-button {
	width: 27px;
	height: 24px;
	display: inline-block;
	background-image: url('../../images/gdrive_button.png');
	cursor: pointer;
}

/*	----- LINK EMBED ----- */
.link-widget .file, .link-widget .link{
	width: 334px;
	overflow: hidden;
	/* Position fix */
	padding-left: 4px;
	margin-top: -2px;
	height: 75px;
}


.link-widget .file a.file-icon{
	background: url("../../images/sprite-icons.png") no-repeat;
	display: inline-block;
	width: 65px;
	height: 65px;
	float: left;
	margin-top: 6px;
}

.link-widget .file .link-widget-file-details{
	float: left;
	padding-left: 10px;
	font-size: 12px;
	color: #666666;
	width: 259px;
	display: block;
	overflow: hidden;
}

.link-widget .file .link-widget-file-details tr td:first-child{
	width: 60px;
	padding-right: 5px;
	font-weight: 600;
}

.link-widget .link .link-img{
	display: block;
	float: left;
	line-height: 0;
	width: 70px;
	height: 70px;
	margin-top: 2px;
	background-size: cover;
	background-position: center;
}

.link-widget .link .website{
	float: left;
	padding-left: 10px;
	font-size: 12px;
	color: #666666;
	width: 213px;
	display: block;
	overflow: hidden;
}

.link-widget .file .link-widget-file-details tr{
	white-space: nowrap;
}

.link-widget .file a.icon-pdf{
	background-position: 50% 0px;
}

.link-widget .file a.icon-avi{
	background-position: 50% -109px;
}

.link-widget .file a.icon-css{
	background-position: 50% -217px;
}

.link-widget .file a.icon-dbx{
	background-position: 50% -322px;
}

.link-widget .file a.icon-xls{
	background-position: 50% -430px;
}

.link-widget .file a.icon-flv{
	background-position: 50% -538px;
}

.link-widget .file a.icon-gdrv{
	background-position: 50% -647px;
}

.link-widget .file a.icon-mov{
	background-position: 50% -753px;
}

.link-widget .file a.icon-mp3{
	background-position: 50% -860px;
}

.link-widget .file a.icon-mp4{
	background-position: 50% -969px;
}

.link-widget .file a.icon-mpeg{
	background-position: 50% -1075px;
}

.link-widget .file a.icon-ppt{
	background-position: 50% -1184px;
}

.link-widget .file a.icon-psd{
	background-position: 50% -1290px;
}

.link-widget .file a.icon-rar{
	background-position: 50% -1399px;
}

.link-widget .file a.icon-rtf{
	background-position: 50% -1507px;
}

.link-widget .file a.icon-txt{
	background-position: 50% -1615px;
}

.link-widget .file a.icon-wav{
	background-position: 50% -1720px;
}

.link-widget .file a.icon-doc{
	background-position: 50% -1829px;
}

.link-widget .file a.icon-zip{
	background-position: 50% -1936px;
}

.link-widget .website a{
	text-decoration: none;
	color: #666;
	font-size: 14px;
	margin-bottom: 10px;
	display: block;
	font-weight: 600;
}

.link-widget .website a.title{
	width: 260px;
}

.link-widget .website span.description{
	height: 47px;
	overflow: hidden;
	display: block;
}