.text-widget {
	min-height: 100px;
	min-width: 210px;
	height:100%;
	overflow: hidden;
}

.text-editable, .text-editable.k-state-active:hover {
	font-family: SourceSansPro;
	position: relative;
	min-height: 36px;
	min-width: 208px;
	height:100%;
	border: 1px dashed #B9B9B9 !important;
	overflow: hidden;
	padding: 0 !important;
	/*text-shadow: 2px 2px #D6D6D6;*/
	letter-spacing: 2px;
	background: none !important;
}

.text-editable p{
	padding:0;
	margin:0;
}