@font-face {
	font-family: SourceSansPro;
	src: url('../font/SourceSansPro-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: SourceSansPro;
	src: url('../font/SourceSansPro-Bold.ttf');
	font-weight: bold;
}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	overflow: hidden;
	font: 12px "SourceSansPro", "Calibri", "Arial", sans-serif;
}

body.unselectable * {
	-moz-user-select: -moz-none !important;
	-khtml-user-select: none !important;
	-webkit-user-select: none !important;
	-ms-user-select: none !important;
}

#header {
	position: relative;
	background-color: #fff;
	font-family: SourceSansPro;
	width: 100%;
	box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.1);
	padding-left: 5px;
	z-index: 1000000;
	overflow: hidden;
}

#header-content {
	height: 32px;
	padding-top: 10px;
}

#header-content h2 {
	color: #808184;
	margin: -4px 30px 5px 10px;
	font-size: 21px;
	font-weight: normal;
	width: 86px;
	float: left;
}

#header-content h2 img {
	height: 6px;
	float: right;
	margin: 8px 0 0 3px;
}

#header h4 {
	margin: -6px 0 0 10px;
	color: #808184;
	font-size: 12px;
	font-weight: normal;
	float: left;
	clear: left;
	width: 450px;
}

#playWeby {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #ffffff;
	z-index: 1000000;
	font-family: SourceSansPro;
	margin: 0 auto;
	text-align: center;
}

#playWeby h3{
	color: #808184;
}