html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	height: 100%;
}

body {
	margin: 0 0;
	padding: 0 0;
	position: relative;
	overflow: hidden;
	font: 12px 'SourceSansPro', sans-serif;
	color: #666666;
	min-width: 1210px;
	overflow: hidden;
}

body.unselectable * {
	-moz-user-select: -moz-none !important;
	-khtml-user-select: none !important;
	-webkit-user-select: none !important;
	-ms-user-select: none !important;
}

.header {
	margin: 0 auto;
	padding: 25px 30px 5px 30px;
	min-width: 1100px;
	background-color: #fff;
	height: 68px;
	-moz-box-shadow: 0px -2px 6px 4px #a6a5a5;
	-webkit-box-shadow: 0px -2px 6px 4px #a6a5a5;
	box-shadow: 0px -2px 6px 4px #a6a5a5;
	position: relative;
	z-index: 10000;
}

.header ul {
	list-style: none;
	margin: 0 0;
	padding: 0 0;
	text-align: center;
}

.header ul li {
	display: inline-block;
}

.header .saving {
	display: none;
	text-align: center;
	width: 100%;
	top: 0;
	position: absolute;
}

.header .saving p {
	background-color: #f3f3f3;
	padding: 4px 5px;
	font-size: 13px;
	display: inline-block;
	margin: 0 0;
}

.header .logo {
	float: left;
	text-align: left;
	padding-right: 20px;

}

.header textarea.embed-code {
	font-size: 11px;
	height: 60px;
	resize: none;
}

.header .header-right {
	float: right;
	text-align: left;

}

.header-right {
	margin-left: 15px;
}

.header-right ul {
	text-align: left;
	padding: 0 0;
	float: right;
}

.header-right ul li {
	line-height: 0px;
	float: left;
}

.header-right ul li.my-webies {
	padding-top: 0px !important;
}

.header-right ul li.my-webies a {
	width: 132px;
	height: 47px;
	background: url("../images/sprite2.png") no-repeat 50% -220px;
	display: block;
}

.header-right ul li.my-webies a:hover {
	opacity: 0.85;
}

.header-right ul li p {
	float: left;
	padding: 4px 30px 0 30px;
	font-weight: 300;
	font-size: 21px;
}

.header-right li.dropdown ul {
	display: none;
	background-color: #fff;
	position: absolute;
	top: 40px;
	z-index: 5000;
	right: 0;
}

.header-right li.dropdown {
	margin-top: 5px;
	margin-left: 30px;
	position: relative;
}

.header-right li.dropdown span.user-photo {
	border: 1px solid #f0f0f0;
	background: url("../images/sprite2.png") no-repeat 50% -430px;
	display: inline-block;
	float: left;
}

.header-right li.dropdown span.user-photo img {
	display: inline-block;
	max-width: 40px;
	max-height: 40px;
}

.header-right li.dropdown span.username {
	float: left;
	padding: 20px 10px 0 20px;
	font-size: 16px;
	height: 20px;
	text-align: right;
	font-weight: 300;
	border-top: 1px solid #fff;
}

.header-right li.dropdown span.dropdown-arrow {
	background: url("../images/sprite2.png") no-repeat 50% -537px;
	height: 40px;
	float: left;
	width: 20px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
}

.header-right li.dropdown:hover span.dropdown-arrow {
	border-top: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
}

.header-right li.dropdown:hover span.username {
	border-top: 1px solid #f0f0f0;
}

.header-right li.dropdown:hover ul {
	display: block;
	padding: 5%;
	width: 90%;
	border-left: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
}

.header-right li.dropdown:hover ul li {
	display: block;
	float: none;
	line-height: 1.8 !important;
}

.header-right li.dropdown:hover ul li a {
	font-size: 14px;
	color: #7f7f84;
	text-decoration: none;
}

.header-right li.dropdown:hover ul li a:hover {
	color: #f25b2b;
}

.header-right li.dropdown:hover > span.dropdown-arrow, .header-right li.dropdown:hover > ul {
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.load-icon {
	background-image: url(../images/load.gif);
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: bottom;
}

::-webkit-input-placeholder {
	color: gray;
	font-family: Arial, sans-serif;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: gray;
	font-family: Arial, sans-serif;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: gray;
	font-family: Arial, sans-serif;
}

:-ms-input-placeholder {
	color: gray;
	font-family: Arial, sans-serif;
}

.footer {
	font-size: 16px;
	background: #202020; /* Old browsers */
	background: -moz-linear-gradient(top, #202020 0%, #1d1d1d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #202020), color-stop(100%, #1d1d1d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #202020 0%, #1d1d1d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #202020 0%, #1d1d1d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #202020 0%, #1d1d1d 100%); /* IE10+ */
	background: linear-gradient(to bottom, #202020 0%, #1d1d1d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#202020', endColorstr='#1d1d1d', GradientType=0); /* IE6-9 */
	border-top: 3px solid #2c2c2c;
	position: fixed;
	bottom: 0;
	height: 24px;
	width: 100%;
	z-index: 1000101;
}

.footer ul {
	list-style: none;
	margin: 0 0;
	padding: 0 0 0 30px;
	float: left;
	line-height: 0.5;
}

.footer ul li {
	display: inline-block;
	padding: 5px 5px 5px 0;
}

.footer ul li:before {
	content: "/";
	padding-right: 5px;
}

.footer ul li:first-child:before {
	content: none;
}

.footer ul li a {
	text-decoration: none;
	font-size: 11px;
	color: #cccccc;
	font-weight: 600;
}

.footer span {
	float: right;
	padding-right: 30px;
	padding-top: 1px;
	padding-bottom: 3px;
}

.footer span a {
	background: url("../images/webiny-logo-footer.png") no-repeat;
	display: block;
	width: 50px;
	height: 18px;
}

.fancybox-lock .fancybox-overlay {
	overflow: hidden !important;
	overflow-y: hidden !important;
}

.fancybox-inner {
	overflow: hidden !important;
}