html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
}

body {
    margin: 0 0;
    padding: 0 0;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    font-family: SourceSansPro;
    color: #666666;
    min-width: 1210px;
    overflow: hidden;
}

a. a img {
    outline: none;
}

img {
    border: none;
}

.widget p {
    margin: 0;
    padding: 0;
}

body.unselectable * {
    -moz-user-select: -moz-none !important;
    -khtml-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
}

.header {
    margin: 0 auto;
    padding: 25px 30px 5px 30px;
    min-width: 1100px;
    background-color: #fff;
    height: 68px;
    -moz-box-shadow: 0px -2px 6px 4px #a6a5a5;
    -webkit-box-shadow: 0px -2px 6px 4px #a6a5a5;
    box-shadow: 0px -2px 6px 4px #a6a5a5;
    position: relative;
    z-index: 1000101;
}

.header ul {
    list-style: none;
    margin: 0 0;
    padding: 0 0;
    text-align: center;
}

.header ul li {
    display: inline-block;
}

.header .saving {
    display: none;
    text-align: center;
    width: 100%;
    top: 0;
    position: absolute;
}

.header .saving p {
    background-color: #f3f3f3;
    padding: 4px 5px;
    font-size: 13px;
    display: inline-block;
    margin: 0 0;
}

.header .logo {
    float: left;
    text-align: left;
    padding-right: 20px;
    border-right: 1px solid #e5e5e5;
}

.header textarea.embed-code {
    font-size: 11px;
    height: 60px;
    resize: none;
}

.header .header-right {
    float: right;
    text-align: left;

}

.header-right {
    margin-left: 15px;
}

.header-right ul {
    text-align: left;
    padding: 0 0;
    float: right;
}

.header-right ul li {
    line-height: 0px;
    float: left;
}

.header-right ul li.my-webies {
    padding-top: 0px !important;
}

.header-right ul li.my-webies a {
    width: 132px;
    height: 47px;
    background: url("../images/sprite2.png") no-repeat 50% -220px;
    display: block;
}

.header-right ul li.my-webies a:hover {
    opacity: 0.85;
}

.header-right ul li p {
    float: left;
    padding: 4px 30px 0 30px;
    font-weight: 300;
    font-size: 21px;
}

.header-right li.dropdown ul {
    display: none;
    background-color: #fff;
    position: absolute;
    top: 41px;
    z-index: 5000;
    right: 0;
}

.header-right li.dropdown {
    margin-top: 5px;
    margin-left: 30px;
    position: relative;
}

.header-right li.dropdown span.user-photo {
    border: 1px solid #f0f0f0;
    background: url("../images/sprite2.png") no-repeat 50% -430px;
    display: inline-block;
    float: left;
    height: 40px;
    width: 40px;
}

.header-right li.dropdown span.user-photo img {
    display: inline-block;
    max-width: 40px;
    max-height: 40px;
}

.header-right li.dropdown span.username {
    float: left;
    padding: 20px 10px 0 20px;
    font-size: 16px;
    height: 20px;
    text-align: right;
    font-weight: 300;
    border-top: 1px solid #fff;
}

.header-right li.dropdown span.dropdown-arrow {
    background: url("../images/sprite2.png") no-repeat 50% -537px;
    height: 40px;
    float: left;
    width: 20px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

.header-right li.dropdown:hover span.dropdown-arrow {
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

.header-right li.dropdown:hover span.username {
    border-top: 1px solid #f0f0f0;
}

.header-right li.dropdown:hover ul {
    display: block;
    padding: 5%;
    width: 90%;
    border-left: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

.header-right li.dropdown:hover ul li {
    display: block;
    float: none;
    line-height: 1.8 !important;
}

.header-right li.dropdown:hover ul li a {
    font-size: 14px;
    color: #7f7f84;
    text-decoration: none;
}

.header-right li.dropdown:hover ul li a:hover {
    color: #f25b2b;
}

.header-right li.dropdown:hover > span.dropdown-arrow, .header-right li.dropdown:hover > ul {
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.header-right ul li.register-btn {
    padding-left: 30px;
}

.header-right ul li.register-btn a {
    width: 182px;
    height: 47px;
    background-image: url("../images/sprite2.png");
    background-repeat: no-repeat;
    background-position: 50% -1455px;
    display: block;
}

.header-right ul li.register-btn a:hover {
    opacity: 0.85;
}

::-webkit-input-placeholder {
    color: gray;
    font-family: Arial, sans-serif;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: gray;
    font-family: Arial, sans-serif;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: gray;
    font-family: Arial, sans-serif;
}

:-ms-input-placeholder {
    color: gray;
    font-family: Arial, sans-serif;
}

.load-icon {
    background-image: url(../images/load.gif);
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: bottom;
}

.load-icon.green {
    background-image: url(../images/load_green.gif);
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: bottom;
}

.footer {
    font-size: 16px;
    background: #202020; /* Old browsers */
    background: -moz-linear-gradient(top, #202020 0%, #1d1d1d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #202020), color-stop(100%, #1d1d1d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #202020 0%, #1d1d1d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #202020 0%, #1d1d1d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #202020 0%, #1d1d1d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #202020 0%, #1d1d1d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#202020', endColorstr='#1d1d1d', GradientType=0); /* IE6-9 */
    border-top: 3px solid #2c2c2c;
    position: fixed;
    bottom: 0;
    height: 24px;
    width: 100%;
    z-index: 1000101;
}

.footer ul {
    list-style: none;
    margin: 0 0;
    padding: 0 0 0 30px;
    float: left;
    line-height: 0.5;
}

.footer ul li {
    display: inline-block;
    padding: 5px 5px 5px 0;
}

.footer ul li:before {
    content: "/";
    padding-right: 5px;
}

.footer ul li:first-child:before {
    content: none;
}

.footer ul li a {
    text-decoration: none;
    font-size: 11px;
    color: #cccccc;
    font-weight: 600;
}

.footer ul li.feedback a {
    padding: 0 3px 0 3px;
    background-color: #f25b2b;
    color: #fff;
}

.footer span {
    float: right;
    padding-right: 30px;
    padding-top: 1px;
    padding-bottom: 3px;
}

.footer span a {
    background: url("../images/webiny-logo-footer.png") no-repeat;
    display: block;
    width: 50px;
    height: 18px;
}

.fancybox-lock .fancybox-overlay {
    overflow: hidden !important;
    overflow-y: hidden !important;
}

.fancybox-inner {
    overflow: hidden !important;
}

.k-widget k-tooltip k-slider-tooltip {
    display: none !important;
}

.bootstrap {
    display: none;
}

.pointer-cursor {
    cursor: pointer;
}

#unsupported-browser-dialog .browser-list {
    list-style: none;
    padding: 0;
    margin: 0 auto 15px;
    position: relative;
    width: 265px;
}

#unsupported-browser-dialog .browser-list li {
    float: left;
    margin: 10px 20px 20px;
}

/* Search Webies */

.header-right .search-btn {
    position: relative;
    width: 43px;
    height: 47px;
    float: left;
}

.header-right .search-btn a.search-icon {
    width: 43px;
    height: 47px;
    background-image: url("../images/sprite2.png");
    background-repeat: no-repeat;
    background-position: 50% -3143px;
    display: inline-block;
    position: absolute;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    margin-top: -1px;
    z-index: 3000;
}

.header-right .search-btn:hover a.search-icon {
    opacity: 0.85;
}

.header-right .search-btn .search-field {
    position: absolute;
    border: 1px solid #f0f0f0;
    background-color: #fff;
    padding: 20px 20px 0 20px;
    list-style: none;
    margin: 0 0;
    top: 45px;
    display: none;
    z-index: 3100;
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.header-right .search-btn .search-field input {
    width: 320px;
    border: 1px solid #f0f0f0;
    padding: 10px 0 10px 10px;
}

.header-right .search-input {
    margin-top: 10px;
}

.header-right .search-btn .search-field ul.search-results {
    display: block;
    margin-top: 10px;
    float: left;
    width: 332px;
}

.header-right .search-btn .search-field ul.search-results li {
    display: block;
    width: 100%;
    padding-bottom: 10px;
}

.header-right .search-btn .search-field ul.search-results li span {
    display: block;
}

.header-right .search-btn .search-field ul.search-results li {
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.header-right .search-btn .search-field ul.search-results li.hovered {
    background-color: #f7f7f7;
}

.header-right .search-btn .search-field ul.search-results li span.search-img {
    display: inline-block;
    width: 30px;
    height: 30px;
    float: left;
    background-color: #f0f0f0;
    margin-right: 10px;
}

.header-right .search-btn .search-field ul.search-results li p {
    display: inline-block;
    margin: 0 0;
    line-height: 1;
    float: left;
    padding: 0 0;
    font-size: 14px;
    font-weight: 400;
}

.header-right .search-btn .search-field ul.search-results li ul.search-info {
    display: inline-block;
    float: left;
    width: 292px;
    margin-top: 1px;
}

.header-right ul.search-info a {
    text-decoration: none;
    color: #666666;
}

.header-right .search-btn .search-field ul.search-results li ul.search-info li {
    display: inline-block;
    float: left;
    line-height: 1.4;
    font-size: 12px;
    padding-right: 5px;
    font-weight: 400;
    color: #959494;
    width: auto;
    margin-bottom: 0px;
}

.header-right .search-btn .search-field ul.search-results li ul.search-info li:before {
    content: "-";
    padding-right: 5px;
}

.header-right .search-btn .search-field ul.search-results li ul.search-info li:first-child:before {
    content: " ";
    padding-right: 0px;
}

.header-right .search-btn .search-field ul.search-results li span a {
    background-image: none;
    height: auto;
    border: none;
}

.header-right .search-btn .search-field ul.search-results li p a {
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -moz-binding: url('ellipsis.xml#ellipsis');
    display: block;
    width: auto;
    background-image: none;
    height: auto;
    border: none;
    color: #666;
}

.header-right .search-btn .search-field ul.search-results li.view-all-results {
    line-height: 2;
    text-align: center;
    background-color: #f7f7f7;
}

.header-right .search-btn .search-field ul.search-results li.view-all-results.hovered {
    background-color: #f3f3f3;
}

.header-right .search-btn .search-field ul.search-results li.view-all-results a {
    text-decoration: none;
    color: #f25b2b;
    display: block;
}

.header .close-form.close-search {
    top: 10px;
    right: 13px;
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-image: url("../images/sprite2.png");
    background-repeat: no-repeat;
    background-position: 50% -742px;
}

.header .close-form.close-search:hover {
    cursor: pointer;
}

/* Static page container */

.container {
    width: 700px;
    padding: 42px 130px;
    background-image: url("../images/white-transparent-bg.png");
    background-repeat: repeat;
    margin: 30px auto 30px auto;
    text-align: center;
}

.container h1 {
    font-weight: 400;
    font-size: 30px;
}

.container ul.social {
    list-style: none;
    margin: 40px 0 40px 0;
    padding: 0 0;
    overflow: hidden;
}

.container ul.social li {
    display: inline-block;
    overflow: hidden;
}

.container ul.social li a.icon {
    width: 48px;
    height: 45px;
    display: inline-block;
    float: left;
    padding: 0 0;
    background-image: url(../images/sprite2.png);
    background-repeat: no-repeat;
}

.container ul.social li.signin-facebook {
    float: left;
}

.container ul.social li.signin-facebook a.icon {
    background-color: #4966a1;
    border-bottom: 3px solid #3a5181;
    background-position: -78px -290px;
}

.container ul.social li.signin-facebook a {
    color: #4966a1;
}

.container ul.social li.signin-facebook a:hover {
    background-color: #4966a1;
    color: #fff;
    border-bottom: 3px solid #3a5181;
}

.container ul.social li a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    float: left;
    height: 45px;
    line-height: 1.9;
    padding: 0 8px;
    background-color: #fff;
    width: 256px;
    display: inline-block;
    border-bottom: 3px solid #cccccc;
}

.container ul.social li.signin-google {
    float: right;
}

.container ul.social li.signin-google a.icon {
    background-color: #dd211c;
    border-bottom: 3px solid #be1d18;
    background-position: -216px -290px;
}

.container ul.social li.signin-google a {
    color: #dd211c;
}

.container ul.social li.signin-google a:hover {
    background-color: #dd211c;
    color: #fff;
    border-bottom: 3px solid #be1d18;
}

.container h2 {
    font-weight: 300;
    font-size: 24px;
    padding-bottom: 20px;
}

span.weby-tag-blue {
    background-image: url(../images/sprite2.png);
    background-repeat: no-repeat;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 1px 2px 0 0;
    padding: 0 4px 0 2px;
    display: inline-block;
    height: 16px;
    text-indent: 10px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    background-position: -97px -1950px;
    text-transform: uppercase;
}