.widget-body.prezi-widget{
	margin-bottom:5px;
}

.prezi-widget input{
	float:left;
	width: 300px;
	-webkit-border-radius: 4px;
	padding: 5px;
	box-shadow: 0px 1px 5px -1px gray inset;
	border: none;
	outline-color: #f05929;
}

.prezi-widget .message{
	float: left;
	width: 300px;
	color: #f05929 !important;
	font-size:12px;
	font-family: SourceSansPro;
	clear:left;
}

.prezi-widget .overlay{
	position:absolute;
}
