.widget-body.slideshare-widget{
	margin-bottom:5px;
}

.slideshare-widget input{
	float:left;
	width: 320px;
	-webkit-border-radius: 4px;
	padding: 5px;
	box-shadow: 0px 1px 5px -1px gray inset;
	border: none;
	outline-color: #f05929;
}

.slideshare-widget .message{
	float: left;
	width: 100%;
	color: #f05929 !important;
	font-size:12px;
	font-family: SourceSansPro;
	clear:left;
}

.slideshare-widget .overlay{
	position:absolute;
}
