body {
    background-color: #e5e5e5;
    font-size: 14px;
}

a {
    color: #427fed;
    text-decoration: none;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}
a:hover {
    text-decoration: underline;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}
div#stat_wrapper {
    width: 1100px;
    margin: 40px auto 0 auto;
    padding: 10px;
    overflow: overlay;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    border-bottom-width: 2px;
    display: block;

}

div#stat_wrapper div#stat_menu {
    float: left;
    width: 180px;
    display: block;
}

div#stat_wrapper div#stat_data {
    float: right;
    width: 875px;

}

div#stat_wrapper div#stat_data div.stat-title-bar {
    border: 1px solid #dbdbde;
    padding: 10px;
    background-color: #f3f3f4;
    margin-bottom: 4px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

div#stat_wrapper div#stat_menu ul {
    margin: 0px;
    list-style: none;
    width: 100%;
    padding: 0;
}

div#stat_wrapper div#stat_menu ul li {
    border-bottom: 1px solid #f3f3f4;
    padding: 10px;
    width: 100%;
}

div#stat_wrapper div#stat_menu ul li:last-child {
    border-bottom: none;
}

div#stat_wrapper div#stat_menu ul ul.child-menu li {
    padding: 5px 5px 5px 20px;
    font-size: 12px;
}

div#stat_wrapper div#stat_data div#stat_data_graph {
    float: left;
    width: 600px
}

.left {
    float: left;
}

.right {
    float: right;
}

/* ----------------------------*/

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 500px;
    margin-bottom: 30px;
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.bordered tr:hover {
    background: #f9f9f9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.bordered th {
    background-color: #f3f3f4;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.collapse-btn {
    display: inline-block;
    width: 9px;
    height: 9px;
    background-image: url(../images/btn_collapse.gif);
    margin-right: 3px;
}

.uncollapse-btn {
    display: inline-block;
    width: 9px;
    height: 9px;
    background-image: url(../images/btn_collapse_off.png);
    margin-right: 3px;
}

div#footer {
    margin: 0 auto 0 auto;
    padding: 10px;
    text-align: right;
    width: 1100px;
}