body {
    margin: 0 0;
    padding: 0 0;
    font-family: 'SourceSansPro', sans-serif;
    color: #666666;
    background-image: url("../images/used.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#page-content {
    overflow: auto;
    width: 100%;
    position: relative;
}

.header .header-middle-wrap h2 {
    margin-top: 13px;
}

.header .header-middle {
    background: none;
    padding-left: 60px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 18px;
    height: 18px
}

::-webkit-scrollbar-thumb {
    border-radius: 24px;
    background-color: rgba(148, 148, 148, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5)
}

::-webkit-scrollbar-track {
    background-color: rgba(162, 162, 162, 0.49);
}

::-webkit-scrollbar-corner {
    background-color: rgba(116, 116, 116, 0.49);
}