#toolbar-wrapper {
	height: 100%;
	width: 115px;
	/*background-color: rgba(0, 0, 0, 0.4);*/
	z-index: 999999;
	position: fixed;
	margin-top: -1px;
	padding-left: 5px;
	float: left;
	/*box-shadow: 1px 0 0 rgba(255, 255, 255, 0.4);*/
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#toolbar-wrapper.collapsed {
	width: 30px;
}

#toolbar {
	padding-top: 12px;
	margin-top: 28px;
}

#toolbar .tool-icon {
	width: 78px;
	height: 24px;
	background: url(../images/buttons.png) 0 0 no-repeat;
	display: block;
	position: relative;
	margin: 0px 0px 7px 0;
	padding: 0 0 0 30px;
	line-height: 23px;
	cursor: pointer;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #3c3c3c;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
}

#toolbar .tool-icon:hover {
	background-position: 0 100%;
}

#toolbar .tool-icon:before {
	display: block;
	content: " ";
	width: 16px;
	height: 16px;
	position: absolute;
	top: 4px;
	left: 4px;
	background: url(../images/toolbar-icons.png) 0 0 no-repeat;
}

#toolbar .tool-icon.link:before {
	background-position: 0 -16px;
}

#toolbar .tool-icon.map:before {
	background-position: 0 -32px;
}

#toolbar .tool-icon.video:before {
	background-position: 0 -48px;
}

#toolbar .tool-icon.prezi:before {
	background-position: 0 -64px;
}

#toolbar .tool-icon.slideshare:before {
	background-position: 0 -80px;
}

#toolbar .tool-icon.googledrive:before {
	background-position: 0 -96px;
}

#toolbar .tool-icon.skydrive:before {
	background-position: 0 -112px;
}

#toolbar .tool-icon.soundcloud:before {
	background-position: 0 -128px;
}

#toolbar .tool-icon.linkedin:before {
	background-position: 0 -144px;
}

#toolbar .tool-icon.twitter:before {
	background-position: 0 -160px;
}

#toolbar .tool-icon.instagram:before {
	background-position: 0 -176px;
}

#toolbar .tool-icon.pinterest:before {
	background-position: 0 -192px;
}

#toolbar .tool-icon.facebook:before {
	background-position: 0 -208px;
}

#toolbar .tool-icon.vine:before {
	background-position: 0 -224px;
}

.collapsed #toolbar .tool-icon {
	width: 24px;
	background-image: url(../images/buttons-mini.png);
	padding: 0;
	text-indent: -9999px;
}

#toolbar-wrapper .collapse {
	display: block;
	color: #fff;
	text-decoration: none;
	margin: 10px 0 5px 0;
	padding: 0 0 0 20px;
	position: absolute;
}

#toolbar-wrapper .collapse:before {
	display: block;
	content: " ";
	width: 11px;
	height: 10px;
	position: absolute;
	top: 3px;
	left: 4px;
	background: url(../images/icons.png) 0 0 no-repeat;
}

#toolbar-wrapper.collapsed .collapse {
	text-indent: -9999px;
}

#toolbar-wrapper.collapsed .collapse:before {
	background-position: -11px 0;
	left: 8px;
}

/*#toolbar .tool-icon {
	background: no-repeat 0 0px;
	padding: 1px 2px 5px 22px;
	width: 78px;
	background-position: 3px 3px;
	display: block;
	margin: 0px 0px 5px;
	cursor: pointer;
	border-bottom: 1px solid #E4E4E4;
}*/

/*#toolbar .tool-icon:hover {
	background-color: orangered;
	color: #fff;
}*/