/* --------------- BEGIN social sharing buttons and user options --------------- */
#header-content .content-right {
	width: auto;
	float: right;
	top: 5px;
	position: relative;
}
.social-icons-wrapper {
	float: left;
    width: 150px;
}

.user-options-wrapper {
	display: inline-block;
	width: 230px;
	height: 40px;
}

.user-options-wrapper *{
	float:left;
}

#header-content .content-right .user-options-wrapper img#user-avatar {
    width: 32px;
    height: 32px;
    border: 1px solid white;
    margin-right: 4px;
    -moz-box-shadow: 0 0 1px 1px lightgray;
    -webkit-box-shadow: 0 0 1px 1px lightgray;
    box-shadow: 0 0 1px 1px lightgray;
}


/* ---------------  END of social sharing buttons and user options --------------- */

/* ------------------ Social sharing icons ------------------ */

.share-icon {
    width: 32px;
    height: 32px;
    display: inline-block;
}

.share-icon.social-facebook {
    background-image: url(../images/social/facebook.png);
}

.share-icon.social-twitter {
    background-image: url(../images/social/twitter.png);
}

.share-icon.social-google {
    background-image: url(../images/social/google-plus.png);
}

input#weby-title {
	width: 500px;
	-webkit-border-radius: 4px;
	padding: 5px;
	box-shadow: 0px 1px 5px -1px gray inset;
	border: none;
	outline-color: #f05929;
	clear: left;
	height: 22px;
	font-size: 19px;
}

input#weby-title:focus {
    outline: 0;
}