* {
	outline: none;
}

.green-button {
	padding: 10px 10px 10px 10px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	display: block;
	text-align: center;
	margin: 0 auto;
	clear:left;
	background-color: #27b6ac;
}

.green-button.icon {
	padding: 10px 10px 10px 20px;
}

.green-button.delete {
	background: #27b6ac url(../images/sprite2.png) no-repeat -156px -969px;
}

/** WEBY TOOLBAR **/

#weby-toolbar-wrapper {
	position: fixed;
	right: 30px;
	z-index: 8020;
	top: 130px;
}

#weby-toolbar-wrapper .tool-icon {
	height: 67px;
	display: block;
	position: relative;
	width: 68px;
	cursor: pointer;
	float: left;
	background: #f25b2b url(../images/sprite2.png) 0 0 no-repeat;
	text-decoration: none;
	text-indent: -9999px;
	border-left: 1px solid #f26a3f;
	border-right: 1px solid #dc5327;
	border-top: 3px solid #f26f45;
}

#weby-toolbar-wrapper .tool-icon:hover {
	background-color: #FD6D40;
}

#weby-toolbar-wrapper .bring-to-front {
	background-position: -2px 0;
}

#weby-toolbar-wrapper .bring-forward {
	background-position: -70px 0;
}

#weby-toolbar-wrapper .send-backward {
	background-position: -139px 0;
}

#weby-toolbar-wrapper .send-to-back {
	background-position: -209px 0;
}

#weby-toolbar-wrapper .frame {
	background-position: -279px 0;
	margin-right: 20px;
}

#weby-toolbar-wrapper .background {
	background-color: #27b6ac;
	background-position: -106px -94px;
	border-left: 1px solid #2bc6ba;
	border-right: 1px solid #229d94;
	border-top: 3px solid #2bc6ba;
}

#weby-toolbar-wrapper .background:hover{
	background-color: #52C7BE;
}

#weby-toolbar-wrapper .document {
	border-left: 1px solid #2bc6ba;
	border-right: 1px solid #229d94;
	border-top: 3px solid #2bc6ba;
	background-color: #27b6ac;
	background-position: -174px -94px;
}

#weby-toolbar-wrapper .document:hover {
	background-color: #52C7BE;
}

#weby-toolbar-wrapper ul {
	list-style: none;
	margin: 0 0;
	padding: 0 0;
}

#weby-toolbar-wrapper ul li {
	display: inline-block;
	float: left;
}

#weby-toolbar-wrapper ul li.dropdown {
	position: relative;
}

#weby-toolbar-wrapper ul li.dropdown div.menu {
	text-decoration: none;
	position: absolute;
	top: 65px;
	right: 0;
	border-top: 4px solid #27b6ac;
	padding: 5px 3px 5px 5px;
	background-color: #fff;
	display: none;
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

#weby-toolbar-wrapper ul li.dropdown.frame div.menu {
	border-top: 4px solid #f25b2b;
	padding: 0;
	right: 20px;
}

#weby-toolbar-wrapper div.menu ul.tabs > li {
	display: inline-block;
	padding: 10px;
	font-size: 15px;
}

#weby-toolbar-wrapper div.menu li.ui-tabs-active {
	border-top: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	border-bottom: none !important;
}

#canvas-settings li.dummy {
	border-bottom: 1px solid #c5c5c5;
	display: inline-block;
	height: 19px;
	width: 51px;
}

#document-settings li.dummy {
	border-bottom: 1px solid #c5c5c5;
	display: inline-block;
	height: 19px;
	width: 84px;
}

#weby-toolbar-wrapper div.menu li.ui-state-default {
	border-bottom: 1px solid #c5c5c5;
}

#weby-toolbar-wrapper div.menu li.ui-tabs-active a {
	color: #27b6ac;
}

#weby-toolbar-wrapper div.menu li a {
	text-decoration: none;
	color: #666;
}

#weby-toolbar-wrapper .disabled {
	opacity: 0.3;
	pointer-events: none;
}

/** BACKGROUND/CANVAS SETTINGS **/

#weby-toolbar-wrapper div.menu ul.tabs {
	float: left;
	width: 300px;
}

#weby-toolbar-wrapper div.menu .combo-box {
	display: block;
	margin: 10px auto;
	position: relative;
}

#weby-toolbar-wrapper div.menu .combo-box.no-bottom-margin {
	margin-bottom:0;
}

#weby-toolbar-wrapper div.menu .combo-box a {
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	text-decoration: none;
	padding: 10px 10px 10px 10px;
	display: block;
	background: #27b6ac url("../images/sprite2.png") no-repeat 95px -1348px;
}

#weby-toolbar-wrapper div.menu .combo-box ul {
	list-style: none;
	display: none;
	border-bottom: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	background-color: #fff;
	padding: 0;
	margin: 0;
	position: absolute;
	width: 284px;
	z-index: 1000000;
}

#weby-toolbar-wrapper div.menu .combo-box ul li {
	display: block;
	float: none;
	padding: 0 0;
}

#weby-toolbar-wrapper div.menu .combo-box ul li a {
	padding: 5px 10px;
	display: block;
	background: #fff none;
}

#weby-toolbar-wrapper div.menu .combo-box ul li a:hover {
	background-color: #27b6ac;
	color: #fff;
}

#weby-toolbar-wrapper div.menu .combo-box ul li a {
	color: #666;
}

#canvas-settings-dropdown > li, #document-settings-dropdown > li {
	padding: 0;
}

#canvas-settings, #document-settings {
	position: relative;
	padding: 3px;
	border: none !important;
	background: none !important;
	float: left;
}

#cnv-image *, #cnv-size * {
	border-radius: 0;
}

#cnv-settings .image-size{
	font-size: 15px;
	margin: 0 0 5px 2px;
	width: 100%;
	display: block;
}

#canvas-settings-align {
	display: none;
}

#canvas-settings table button {
	width: 35px;
	height: 35px;
}

#canvas-settings .tab, #document-settings .tab {
	padding: 5px;
	float: left;
	border: 1px solid #c5c5c5;
	border-top: none;
	min-width: 286px;
}

#canvas-settings #cnv-color {
	text-align: center;
}

#document-settings #doc-color {
	text-align: center;
}

.menu .error-message {
	background-color: rgb(255, 124, 124);
	border: 1px solid red;
	padding: 6px;
	color: white;
	display: block;
	margin: 0 0 5px 0;
}

.menu .info-message {
	background-color: #27b6ac;
	padding: 6px;
	color: white;
	display: block;
	margin: 0 0 5px 0;
}

.menu .info-message.top-margin{
	margin-top:5px;
}

.menu .credits {
	float: right;
	font-size: 12px;
	padding-top: 3px;
}

#canvas-settings #cnv-pattern .credits a {
	color: #27b6ac;
}

#canvas-settings .k-upload-button {
	width: 96px;
	font-size: 13px;
}

#canvas-settings .k-button:active {
	color: #fff;
	background-color: #27b6ac;
	border-color: #27b6ac;
}

.settings-input {
	width: 271px;
	padding: 10px 0 10px 10px;
	margin: 10px 0;
	border-style: none;
	border-bottom: 3px solid #27b6ac;
	font-size: 16px;
	font-style: italic;
}

#cnv-pattern .patterns-list {
	border-bottom: none;
}

.patterns-list .pattern {
	height: 50px;
	cursor: pointer;
}

.patterns-pager .k-pager-info {
	font-size: 13px;
}

.patterns-pager .k-pager-numbers {
	display: none;
}

#cnv-size span.label {
	font-size: 14px;
	float: left;
	text-align: center;
	width: 100%;
	margin-top: 5px;
	clear: both;
}

#cnv-size label {
	float: left;
	margin-top: 6px;
	font-size: 15px;
}

#cnv-size label .k-numerictextbox {
	width: 80px;
	padding-left: 6px;
}

#cnv-size label:first-child {
	margin: 6px 15px 0 4px;
}

/** WIDGET SETTINGS **/

#widget-settings {
	position: relative;
	width: 305px;
	line-height: 31px;
}

#widget-settings span.title {
	width: 130px;
	float: left;
	clear: left;
	font-size: 14px;
}

#weby-toolbar-wrapper #widget-settings-dropdown {
	padding: 10px;
}

.volume-control{
	margin-bottom: 5px;
	float: left;
	width: 100%;
}

.volume-control .title{
	float: left;
	line-height: 23px;
	font-size: 15px;
}

/** KENDO OVERRIDES **/

.volume-control .k-slider{
	margin-right:7px;
	float: right;
	width: 215px;
}

.volume-control .k-slider-selection{
	background-color: #27b6ac !important;
}

.volume-control .k-draghandle.k-state-selected, .volume-control .k-draghandle.k-state-selected:hover{
	border-color: #27b6ac !important;
	background-image: none, -webkit-linear-gradient(top, #27b6ac 0, #239e94 100%);
	background-image: none, -moz-linear-gradient(top, #27b6ac 0, #239e94 100%);
	background-image: none, -o-linear-gradient(top, #27b6ac 0, #239e94 100%);
	background-image: none, linear-gradient(to bottom, #27b6ac 0, #239e94 100%);
	background-position: 50% 50%;
}

.volume-control .k-draghandle.k-state-selected:link{
	border-color: #27b6ac !important;
}

.k-state-active, .k-state-active:hover, .k-active-filter, .k-tabstrip .k-state-active {
	background: none !important;
	border: none !important;
}

.editor .k-widget.k-tooltip.k-slider-tooltip{
	display:none;
}

#widget-settings span.k-widget {
	float: left;
	margin-top: 4px;
}

#widget-settings div.k-slider {
	margin-top: 3px;
	width: 150px !important;
}

#widget-settings .k-slider-horizontal .k-slider-track, #widget-settings .k-slider-wrap {
	width: 150px !important;
}

#canvas-settings .k-flatcolorpicker .k-slider-horizontal {
	width: 240px;
}

#document-settings .k-flatcolorpicker .k-slider-horizontal {
	width: 240px;
}