#workspace {
	overflow:auto;
	position:relative;

}

#content {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 0;
	background-attachment: local;
	cursor: hand;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

#weby-background-color{
	position:absolute;
	width:100%;
	height: 100%;
	top:0;
	left:0;
	z-index:1;
	pointer-events:none;
}

#weby-background-image{
	z-index: 2;
	pointer-events:none;
}

#weby-background-video{
	position: absolute;
	overflow: hidden;
	top: 98px;
	left: 0;
	z-index: 0;
	pointer-events:none;
}

#content.grabbing, #content.grabbing .widget {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 18px;
	height: 18px
}

::-webkit-scrollbar-thumb {
	border-radius: 24px;
	background-color: rgba(148, 148, 148, 0.5);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5)
}

::-webkit-scrollbar-track {
	background-color: rgba(162, 162, 162, 0.49);
}

::-webkit-scrollbar-corner{
	background-color: rgba(116, 116, 116, 0.49);
}


body:after {
	content: "";
	display: block;
	clear: both;
}

.clearfix {
	clear: both;
	float: left;
	width: 1px;
	height: 1px;
}

#app-loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000000;
	text-align: center;
}

#app-loading .color{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.9;
	z-index: 1000000;
	background-color: #fff;
}

#app-loading span {
	color: #000000;
	font-weight: bold;
	text-shadow: 0px 2px 3px #A7A7A7;
	font-size: 18px;
	position: relative;
	z-index: 1000001;
}

#app-loading .progressbar{
	height: 5px;
	width: 280px;
	display: block;
	margin: 0 auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #555;
	padding: 1px;
}

#app-loading #progress{
	width: 0px;
	height: 5px;
	display: block;
	background-color: #f1a165;
	background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
	background-image: -webkit-linear-gradient(#f1a165, #f36d0a);
	-webkit-box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
	box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

div.content-left {
	display: inline-block;
	float: left;
}


/** EDITOR CLASSES **/

body.editor .k-widget.k-window.k-window-titleless{
	width: 700px !important;
}

#content.hide-content {
	cursor: hand;
}

.editor #content.hide-content .widget-body {
	visibility: hidden;
}

.editor #content.hide-content .widget {
	box-shadow: none !important;
	background-color: #ffffff !important;
	opacity: 1 !important;
}

#content-overlay {
	cursor: default !important;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1000000;
}

/** BACKGROUND CLASSES **/

#content.bg-fixed {
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-attachment: fixed;
	background-position: top left;
	background-repeat: no-repeat;
}

#content.bg-repeat {
	background-repeat: repeat;
	background-position: top left;
}

#content.bg-scale {
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-position: top left;
}

