* {
	outline: none;
}

/** WEBY TOOLBAR **/
#weby-toolbar-wrapper {
	position: fixed;
	right: 30px;
	z-index: 8020;
	top: 130px;
}

#weby-toolbar-wrapper .tool-icon {
	height: 67px;
	display: block;
	position: relative;
	width: 68px;
	cursor: pointer;
	float: left;
	background: url(../images/sprite2.png) 0 0 no-repeat;
	text-decoration: none;
	text-indent: -9999px;
}

#weby-toolbar-wrapper .tool-icon:hover {
	opacity: 0.85;
}

#weby-toolbar-wrapper .bring-to-front {
	background-position: -2px 0;
}

#weby-toolbar-wrapper .bring-forward {
	background-position: -70px 0;
}

#weby-toolbar-wrapper .send-backward {
	background-position: -139px 0;
}

#weby-toolbar-wrapper .send-to-back {
	background-position: -207px 0;
}

#weby-toolbar-wrapper .frame {
	background-position: -276px 0;
	margin-right: 20px;
}

#weby-toolbar-wrapper .background {
	background-position: -106px -94px;
}

#weby-toolbar-wrapper .document {
	background-position: -174px -94px;
}

#weby-toolbar-wrapper ul {
	list-style: none;
	margin: 0 0;
	padding: 0 0;
}

#weby-toolbar-wrapper ul li {
	display: inline-block;
	float: left;
}

#weby-toolbar-wrapper ul li.dropdown {
	position: relative;
}

#weby-toolbar-wrapper ul li.dropdown ul:not(.ui-tabs-nav) {
	position: absolute;
	top: 65px;
	right: 0;
	border-top: 4px solid #27b6ac;
	padding: 5px;
	background-color: #fff;
	display: none;
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

#weby-toolbar-wrapper ul li.dropdown.frame ul {
	border-top: 4px solid #f25b2b;
	padding: 0;
	right: 20px;
}

#weby-toolbar-wrapper ul li.dropdown ul li:not(.ui-tabs-panel) {
	display: inline-block;
	padding: 10px;
	font-size: 15px;
}

#weby-toolbar-wrapper ul li.dropdown ul li.ui-tabs-active {
	border-top: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	border-bottom: none !important;
}

#weby-toolbar-wrapper ul li.dropdown ul li.ui-state-default {
	border-bottom: 1px solid #c5c5c5;
}

#weby-toolbar-wrapper ul li.dropdown ul li.ui-tabs-active a {
	color: #27b6ac;
}

#weby-toolbar-wrapper ul li.dropdown ul li a {
	text-decoration: none;
	color: #666;
}

#weby-toolbar-wrapper .disabled {
	opacity: 0.3;
	pointer-events: none;
}

/** BACKGROUND/CANVAS SETTINGS **/

#canvas-settings-dropdown > li {
	padding: 0;
}

#background-settings {
	position: relative;
	padding: 3px;
	border: none !important;
	background: none !important;
}

#cnv-image *, #cnv-size * {
	border-radius: 0;
}

#background-settings-align {
	display: none;
}

#background-settings table button {
	width: 35px;
	height: 35px;
}

#background-settings .tab {
	padding: 5px;
	float: left;
	border: 1px solid #c5c5c5;
	border-top: none;
	min-width: 286px;
}

#background-settings #cnv-color {
	text-align: center;
}

#background-settings .file-error {
	background-color: rgb(255, 124, 124);
	border: 1px solid red;
	border-radius: 4px;
	padding: 6px;
	color: white;
	display: block;
	margin: 0 0 5px 0;
}

#background-settings #cnv-pattern .credits {
	float: right;
	font-size: 12px;
	padding-top: 3px;
}

#background-settings #cnv-pattern .credits a {
	color: #27b6ac;
}

#background-settings .k-upload-button {
	width: 96px;
	font-size: 13px;
}

#background-settings .k-button:active {
	color: #fff;
	background-color: #27b6ac;
	border-color: #27b6ac;
}

#background-settings .button-wrapper {
	margin: 0 0 5px 0;
	padding: 10px;
	border: 1px solid #c5c5c5;
	background-color: #e3e3e3;
	background-image: none, -webkit-linear-gradient(top, #f6f6f6 0, #eaeaea 100%);
	background-image: none, -moz-linear-gradient(top, #f6f6f6 0, #eaeaea 100%);
	background-image: none, -o-linear-gradient(top, #f6f6f6 0, #eaeaea 100%);
	background-image: none, linear-gradient(to bottom, #f6f6f6 0, #eaeaea 100%);
	display: none;
}

#background-settings .button-wrapper #background-image-remove {
	padding: 10px;
	background: #27b6ac none;
	color: #fff;
	border: 1px solid #27b6ac;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold
}

#file-widget {
	margin: 0 0 5px 0;
}

#background-settings-youtube {
	width: 271px;
	padding: 10px 0 10px 10px;
	margin: 10px 0;
	border-style: none;
	border-bottom: 3px solid #27b6ac;
	font-size: 16px;
	font-style: italic;
}

#cnv-pattern .patternsList {
	border-bottom: none;
}

.patternsList .pattern {
	height: 50px;
	cursor: pointer;
}

.patternsPager .k-pager-info {
	font-size: 13px;
}

#cnv-size span.label {
	font-size: 14px;
	float: left;
	text-align: center;
	width: 100%;
	margin-top: 5px;
}

#cnv-size label{
	float:left;
	margin-top:6px;
}

#cnv-size label .k-numerictextbox{
	width: 80px;
	padding-left: 6px;
}

#cnv-size label:first-child{
	margin: 6px 15px 0 4px;
}

/** WIDGET SETTINGS **/

#widget-settings {
	position: relative;
	width: 305px;
	line-height: 31px;
}

#widget-settings span.title {
	width: 130px;
	float: left;
	clear: left;
}

/** DOCUMENT BACKGROUND SETTINGS **/

#document-background-settings {
	display: none;
	position: fixed;
	background-color: #fff;
	font-family: SourceSansPro;
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
	padding: 3px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#document-background-settings .tab {
	padding: 5px;
}

/** KENDO OVERRIDES **/

.k-state-active, .k-state-active:hover, .k-active-filter, .k-tabstrip .k-state-active {
	background: none !important;
	border: none !important;
}

#widget-settings span.k-widget {
	float: left;
	margin-top: 4px;
}

#widget-settings div.k-slider {
	margin-top: 3px;
	width: 150px !important;
}

#widget-settings .k-slider-horizontal .k-slider-track, #widget-settings .k-slider-wrap {
	width: 150px !important;
}

#background-settings .k-flatcolorpicker .k-slider-horizontal {
	width: 240px;
}

#document-background-settings .k-flatcolorpicker .k-slider-horizontal {
	width: 240px;
}