.mouse-icon {
	color: #808184;
	font-size: 12px;
	font-family: SourceSansPro;
	display: block;
	position: absolute;
	z-index: 1000001;
	cursor: default;
	padding-left: 10px;
}

.mouse-icon:before {
	display: block;
	content: " ";
	width: 40px;
	height: 40px;
	position: absolute;
	top: -6px;
	left: -27px;
	background: url(../images/sprite1.png) -60px 0 no-repeat;
	pointer-events: none;
}

.mouse-icon.link:before {
	background-position: -60px -40px;
}

.mouse-icon.map:before {
	background-position: -60px -79px;
}

.mouse-icon.video:before {
	background-position: -60px -353px;
}

.mouse-icon.slideshare:before {
	background-position: -60px -390px;
}

.mouse-icon.googledrive:before {
	background-position: -60px -429px;
}

.mouse-icon.skydrive:before {
	background-position: -60px -468px;
}

.mouse-icon.soundcloud:before {
	background-position: -60px -507px;
}

.mouse-icon.linkedin:before {
	background-position: -60px -274px;
}

.mouse-icon.twitter:before {
	background-position: -60px -236px;
}

.mouse-icon.googleplus:before {
	background-position: -60px -312px;
}

.mouse-icon.instagram:before {
	background-position: -60px -118px;
}

.mouse-icon.pinterest:before {
	background-position: -60px -156px;
}

.mouse-icon.facebook:before {
	background-position: -58px -195px;
}

.mouse-icon.vine:before {
	background-position: -60px -546px;
}

.mouse-icon.flicker:before {
	background-position: -60px -585px;
}

.mouse-icon.weby:before {
	background-position: -60px -624px;
}

.mouse-icon span.action {
	display: block;
	float: left;
	color: #000;
	text-shadow: 0 1px #fff;
}

.mouse-icon span.cancel {
	clear: left;
	float: left;
	font-size: 10px;
}

.widget {
	position: absolute;
	background-color: #f1f1f1;
	font-family: SourceSansPro;
	box-shadow: 0px 3px 12px #888888;
	padding: 10px;
	display: block;
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
}

.widget:hover {
	cursor: default;
}

.widget .widget-body {
	height: 100%;
	/*margin-bottom: -4px;*/
	position: relative;
	float: left;
}

.loading {
	background-color: #eaeaea;
	width: 237px;
	height: 197px;
	text-align: center;
	vertical-align: middle;
	display: block;
	float: left;
	padding: 0 10px;
}

.loading p {
	color: #666;
	font-size: 12px;
	font-weight: 400;
	margin: 0 auto;
}

.loading p span.main-text {
	color: #666;
	font-size: 17px;
	font-weight: 400;
	margin: 0 0;
	display: block;
}

.loading p span.not-loading {
	float: left;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	margin-top: 2px;
}

.widget-unavailable-overlay{
	float: left;
	position: absolute;
	z-index: 7999;
	width: 100%;
	height: 100%;
	background-color: #f25b2b;
}

.widget-disabled-overlay {
	float: left;
	position: absolute;
	z-index: 8000;
	width: 100%;
	height: 100%;
}

.widget-disabled-overlay span {
	display: none;
}

.widget.active .widget-disabled-overlay span {
	text-transform: uppercase;
	color: #fff;
	font-size: 13px;
	background-color: #27b6ac;
	padding: 10px 20px;
	text-align: center;
	vertical-align: middle;
	display: block;
	height: 17px;
	width: 156px;
	pointer-events: none;
}

.widget.active .widget-disabled-overlay {
	background: url('../images/white-transparent-background.png') repeat;
}

.widget-body input {
	float: left;
	width: 320px;
	padding: 5px;
	box-shadow: 0px 1px 5px -1px gray inset;
	border: none;
	outline-color: #f05929;
	clear: left;
}

.widget-body textarea {
	float: left;
	width: 420px;
	height: 120px;
	padding: 5px;
	box-shadow: 0px 1px 5px -1px gray inset;
	border: none;
	outline-color: #f05929;
	clear: left;
}

.widget-body span.message {
	float: left;
	width: 100%;
	color: #f05929 !important;
	font-size: 12px;
	font-family: SourceSansPro;
	clear: left;
}

.widget-body .overlay {
	position: absolute;
}

.widget span.control {
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	z-index: 8000;
	background: url("../images/sprite-controls.png") no-repeat;
	cursor: pointer;
}

.widget span.drag-handle {
	background-position: 0px 0px;
	top: 0;
	left: 0;
}

.widget span.remove-handle {
	background-position: 0px -70px;
	top: 0;
	right: 0;
}

.widget span.rotate-handle {
	background-position: 0px -138px;
	bottom: 0;
	left: 0;
}

.widget span.resize-handle {
	background-position: 0px -204px;
	bottom: 0;
	right: 0;
}