.mouse-icon {
	color: #808184;
	font-size: 12px;
	font-family: SourceSansPro;
	display: block;
	position: absolute;
	z-index: 1000001;
	cursor: default;
}

.mouse-icon:before {
	display: block;
	content: " ";
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0;
	left: -20px;
	background: url(../images/toolbar-icons.png) 0 0 no-repeat;
}

.mouse-icon.link:before {background-position: 0 -16px;}
.mouse-icon.map:before {background-position: 0 -32px;}
.mouse-icon.video:before {background-position: 0 -48px;}
.mouse-icon.prezi:before {background-position: 0 -64px;}
.mouse-icon.slideshare:before {background-position: 0 -80px;}
.mouse-icon.googledrive:before {background-position: 0 -96px;}
.mouse-icon.skydrive:before {background-position: 0 -112px;}
.mouse-icon.soundcloud:before {background-position: 0 -128px;}
.mouse-icon.linkedin:before {background-position: 0 -144px;}
.mouse-icon.twitter:before {background-position: 0 -160px;}
.mouse-icon.instagram:before {background-position: 0 -176px;}
.mouse-icon.pinterest:before {background-position: 0 -192px;}
.mouse-icon.facebook:before {background-position: 0 -208px;}
.mouse-icon.vine:before {background-position: 0 -224px;}

.mouse-icon img {
	display: block;
	float: left;
	margin-right: 2px;
}


.mouse-icon span.action {
	display: block;
	float: left;
	color: #000;
	text-shadow: 0 1px #fff;
}

.mouse-icon span.cancel {
	clear: left;
	float: left;
	font-size: 10px;
	/*margin-left: 16px;*/
}

.inactive-widget {
	opacity: 0.3 !important;
}

.widget {
	opacity: 1;
	/*-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;*/
	position: absolute;
	background-color: #fff;
	font-family: SourceSansPro;
	box-shadow: 0px 3px 12px #888888;
	/*margin: 18px;*/
	padding: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.widget.no-frame{
	background: none;
	box-shadow: none !important;
}

.widget .widget-body {
	height: 100%;
	margin-bottom: -4px;
	position: relative;
	float: left;
}

.widget .control {
	background-color: #fff;
	width: 17px;
	height: 17px;
	box-shadow: 0px 0px 2px #888889;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	z-index: 11000;
	font-size: 16px;
}

.widget .control i {
	pointer-events: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.widget .control.remove-handle {
	top: -17px;
	left: -17px;
	padding: 4px 4px 7px 8px;
}

.widget .control.drag-handle {
	top: -17px;
	right: -17px;
	padding: 4px 6px 7px 6px;
}

.widget .control.resize-handle {
	bottom: -17px;
	right: -17px;
	padding: 4px 5px 8px 7px;
}

.widget .control.rotate-handle {
	bottom: -17px;
	left: -17px;
	padding: 4px 4px 7px 7px;
}

.widget .control.lock-handle {
	width: 22px;
	height: 22px;
	right: -27px;
	top: 75px;
}

.widget .control.lock-handle i {
	margin: 3px 0 0 5px;
	float: left;
}

.widget .control.index-handle {
	width: 22px;
	height: 22px;
	right: -27px;
}

.widget .control.index-handle.up {
	top: 15px;
}

.widget .control.index-handle.down {
	top: 41px;
}

.widget .control.index-handle.up i {
	margin: 2px 0 0 3px;
	float: left;
}

.widget .control.index-handle.down i {
	margin: 3px 0 0 3px;
	float: left;
}

.widget-disabled-overlay{
	width:100%;
	height:100%;
	position: absolute;
	z-index: 10999;
	margin: -10px 0 0 -10px;
}

.widget.active .widget-disabled-overlay{
	background-color: #fff;
	opacity: 0.5;
}

.widget-disabled-overlay .text{
	display:none;
}

.widget.active .widget-disabled-overlay .text{
	display:block;
	text-align: center;
	vertical-align: middle;
}

.widget-body input{
	float:left;
	width: 320px;
	-webkit-border-radius: 4px;
	padding: 5px;
	box-shadow: 0px 1px 5px -1px gray inset;
	border: none;
	outline-color: #f05929;
	clear: left;
}

.widget-body textarea{
	float:left;
	width: 420px;
	height: 120px;
	-webkit-border-radius: 4px;
	padding: 5px;
	box-shadow: 0px 1px 5px -1px gray inset;
	border: none;
	outline-color: #f05929;
	clear: left;
}

.widget-body span.message{
	float: left;
	width: 100%;
	color: #f05929 !important;
	font-size:12px;
	font-family: SourceSansPro;
	clear:left;
}

.widget-body .overlay{
	position:absolute;
}