/* ----------------------------- Start of dialog CSS ----------------------------- */

.dialog {
    padding: 15px;
}

.dialog, .dialog p {
    color: white;
    font-size: 15px;
    background-color: #f25b2b;
}

.dialog fieldset {
    border: none;
    margin: 0 0;
    padding: 0 0;
    position: relative;
}

.dialog .dialog-loading {
    position: absolute;
    width: 200px;
    height: 40px;
    left: 320px;
    top: 20px;
}

.load-icon {
    background-image: url(../../images/load.gif);
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: bottom;
}

.dialog .dialog-loading .text {
    display: inline-block;
}

.dialog h1 {
    color: #fff;
    font-weight: 400;
    font-size: 26px;
    margin: 0;
}

.dialog h2 {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    margin: 0 0 7px 0;
    padding: 0;
}

.dialog input, .dialog textarea {
    width: 450px;
    padding: 10px 10px 10px 10px;
    margin: 10px 0 10px 0;
    border-style: none;
    border-bottom: 3px solid #dc420e;
    font-size: 16px;
    font-style: italic;
    resize: none;
}

.dialog .button {
    color: #fff;
    padding: 7px 11px 10px 11px;
    margin: 0 0 0 4px;
    font-size: 18px;
    border: none;
    font-weight: 400;
    cursor: pointer;
    background-color: #dc420e;
    display: inline-block;
}

.dialog .button:hover {
    opacity: 0.85;
}

.dialog p.buttons {
    text-align: right;
    margin: 0 0;
    display: block;
}

.dialog .button.main {
    background-color: #a8320b;
}

.dialog h3 {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    margin: 0 3px 0;
    padding: 0;
    float: left;
    line-height: 0.8;
}

.k-tooltip-content {
    color: white;
}

.k-widget.k-tooltip {
    background: #27b6ac none !important;
    border: 1px solid #27b6ac !important;
    font-weight: bold !important;
}

.k-callout-s {
    border-top-color: #27b6ac !important;
}

.k-callout-e {
    border-left-color: #27b6ac !important;
}

.k-callout-n {
    border-bottom-color: #27b6ac !important;
}

.k-popup {
    -webkit-box-shadow: 0 0 1px none !important;
}

.fancybox-close {
    top: 20px !important;
    right: 20px !important;
    width: 15px !important;
    height: 15px !important;
    background: url('../../images/sprite2.png') -166px -804px !important
}

/* ----------------------------- End of dialog CSS ----------------------------- */