/** KEYBOARD SHORTCUTS **/

#keyboard-shortcuts-dialog{
    background-color: #f25b2b;
    width: 545px;
    float: left;
    position: relative;
}

#keyboard-shortcuts-dialog ul{
    list-style: none;
    margin: 0 0;
    padding: 10px 0 0 0;
}

#keyboard-shortcuts-dialog ul li{
    display: inline-block;
    color: #fff;
    font-size: 24px;
}

#keyboard-shortcuts-dialog ul li p{
    display: inline-block;
    float: left;
    margin: 0 0;
    line-height: 2.5;
    font-weight: 300;
    padding-right: 20px;
    width: 305px;
    font-size: 23px;
}

#keyboard-shortcuts-dialog span{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0 0;
    background-image: url(../../images/sprite-shotcuts.png);
    background-repeat: no-repeat;
    float: left;
    margin-right: 10px;
}

#keyboard-shortcuts-dialog span.ctrl{
    background-position: 50% 0;
}

#keyboard-shortcuts-dialog span.save{
    background-position: 50% -80px;
}

#keyboard-shortcuts-dialog span.paste{
    background-position: 50% -160px;
}

#keyboard-shortcuts-dialog span.equal{
    width: 25px;
    background-position: 50% -443px;
}

#keyboard-shortcuts-dialog span.duplicate{
    background-position: 50% -240px;
}

#keyboard-shortcuts-dialog span.shift{
    background-position: 50% -320px;
}

#keyboard-shortcuts-dialog p.key:after{
    content: "";
}

#keyboard-shortcuts-dialog p.key{
    width: auto;
    padding-right: 0;
}