.my-favorites-dialog {
    background-color: #f25b2b;
    width: 715px;
    padding: 30px;
    margin-left: 130px;
    margin-top: 30px;
    position: relative;
    float: left;
    margin-bottom: 30px;
}

.my-favorites-dialog ul {
    list-style: none;
    margin: 0 0;
    padding: 0 0;
    overflow: hidden;
}

.my-favorites-dialog ul li {
    display: inline-block;
    float: left;
}

.my-favorites-dialog ul li img {
    float: left;
}

.my-favorites-dialog ul li ul.weby-data {
    width: 314px;
    padding-left: 20px;
    float: left;
}

.my-favorites-dialog ul li ul.weby-data h2, .my-favorites-dialog ul li ul.weby-data h3 {
    margin: 0 0;
    color: #fff;
}

.my-favorites-dialog ul li ul.weby-data li {
    display: block;
    float: none;

}

.my-favorites-dialog ul li ul.weby-data h2 {
    font-size: 24px;
    font-weight: 400;
}

.my-favorites-dialog ul li ul.weby-data h3 {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 0.5;
}

.my-favorites-dialog ul li ul.weby-data span.weby-tag {
    background-color: white;
    background-image: url(../images/sprite2.png);
    background-repeat: no-repeat;
    color: #f25b2b;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 1px 2px 0 2px;
    padding: 0 4px 0 2px;
    display: inline-block;
    height: 16px;
    text-indent: 10px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    background-position: -170px -871px;
}

.my-favorites-dialog ul li ul.weby-actions {
    float: right;
    width: 292px;
    text-align: right;
}

.my-favorites-dialog ul li ul.weby-actions li {
    display: block;
    float: none;
    color: #fff;
    font-weight: 400

}

.my-favorites-dialog ul li ul.weby-actions li p {
    margin: 0 0;
    font-size: 15px;
}

.my-favorites-dialog a {
    text-decoration: none;
}