.weby-tag {
    background: #27b6ac url("../../images/sprite2.png") no-repeat -169px -2678px;
    border : none;
    color: white;
    height: 18px;
    font-style: normal;
    padding: 0px 5px 0 15px;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 3px;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
}

.dialog .tags-editable {
    color: black;
}

.weby-tag:hover {
    opacity: 0.9;
    cursor: pointer;
}

.weby-tag .remove-tag {
    display: inline-block;
    height: 9px;
    width: 9px;
    background: #27b6ac url("../../images/sprite2.png") no-repeat -170px -2779px;
    margin: 2px 0 0 3px;
}

#weby-tags-wrapper {
    width: 435px;
    padding: 10px 25px 10px 10px;
    margin: 10px 0 10px 0;
    border-style: none;
    border-bottom: 3px solid #dc420e;
    font-size: 16px;
    font-style: italic;
    resize: none;
    display: inline-block;
    background-color: white;
    height: auto;
    min-height: 23px;
    position: relative;
}

#weby-tag-input {
    display: inline-block;
    padding: 0 1px 0;
    width: auto;
    float: left;
    margin: 3px 0 0;
}

#weby-dialog .load-icon {
    margin-left: 3px;
    position: absolute;
    right: 4px;
    top: 15px;
}

#weby-tags-wrapper .tags-placeholder {
    font-family: Arial, sans-serif;
    color: gray;
    padding: 0;
    margin: 0;
    width: 200px;
    position: absolute;
    left: 11px;
    top: 13px;
}

@-moz-document {
    .tags-placeholder {
        color: red;
    }
}

#weby-tags-dropdown {
    display: none;
    width: 468px;
    height: auto;
    position: absolute;
    left: 0;
    background-color: white;
    border: 1px solid #f0f0f0;
    top: 0;
    font-style: normal;
    /*    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
        -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);*/
}

#tags-list {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

#tags-list .tag-selected {
    background-color: #27b6ac;
    color: white;
}

#tags-list li {
    color: black;
    padding: 5px;
}

#tags-list li:hover {
    cursor: pointer;
}

#weby-dialog #weby-description-length {
    float: right;
    width: auto;
    padding: 0 5px 0 5px;
    background-color: white;
    color: #f25b2b;
    font-size: 13px;
    font-weight: bold;
}

.dialog .k-animation-container {
    right: 0;
}

#weby-dialog #weby-description-field {
    margin-top: 0px;
    min-height: 95px;
    font-size: 16px;
    overflow: auto;
}